:root {
  --color-primary: #da3654;
  --color-text: #000;
  --color-text-2: #3c48562;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
  margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  overflow-x: hidden;
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: khaki;
}

/* utilities */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* .container {
  max-width: min(90vw, 1400px);
  margin-inline: auto;
  padding: 1rem;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.content__container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  gap: 1rem;
}

.primary__navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary__navigation a {
  text-decoration: none;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  .primary__navigation {
    --gap: 1.5em;
    position: fixed;
    background: hsl(0 0% 100%/0.1);
    backdrop-filter: blur(1rem);
    inset: 0 0 0 20%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: all 0.3s ease;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .primary__navigation[data-visible="true"] {
    transform: translateX(0%);
    /* transition: all 0.3s ease; */
  }

  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background: url("../../src/images/menu-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 1.3rem;
    right: 1rem;
    display: block;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../../src/images/x-symbol.svg");
  }
}
