---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<style>
  .game__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .board {
    border: 2px solid goldenrod;
  }
</style>

<BaseLayout pageTitle="Snake Game">
  <div class="game__container">
    <h1>Snake Game</h1>

    <canvas class="board" id="board"></canvas>
  </div>
</BaseLayout>

<script src="./script.js"></script>
