---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import hero_img from "../images/walking_outside.svg";
const pageTitle = "FrontEnd Projects";
---

<style>
  .content__img {
    background-color: darkorange;
  }

  .title {
    font-size: 3rem;
  }

  .pretitle {
  }

  .description p {
    font-size: 1.275rem;
  }

  mark {
    background-color: rgb(167, 221, 242);
    border-radius: 4px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="content__container">
    <div class="description">
      <h3 class="pretitle">HTML CSS JS</h3>
      <h1 class="title">
        Frontend<br /><mark>exercises &amp; solutions.</mark>
      </h1>
      <p class="text">A collection of projects I've done</p>
    </div>
    <div class="content__img">
      <img src={hero_img} alt="A picture of a girl walking outside" />
    </div>
    <Button text="Projects" url="/projects/" btnStyles="margin-top: 1rem" />
  </div>
</BaseLayout>
