---
import Button from "./Button.astro";

const { cardStyles, cardTitle, cardPath, cardDescription } = Astro.props;

const buttonStyle = {
  display: "grid",
  "place-content": "center",
  padding: 0,
  width: "5rem",
  "margin-top": "1rem",
};
---

<style>
  .card {
    border: 2px solid black;
    background: hsl(187 70% 85%);
    max-width: 30rem;
    box-shadow: 0.65rem 0.6rem 0 hsl(187 60% 40%);
    border-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .card__content {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
  }

  .card__img {
    outline: 0.1rem solid;
    /* object-fit: cover; */
  }
</style>

<article class="card">
  <img
    class="card__img"
    src="/src/images/nft-preview-component/image-equilibrium.jpg"
    alt=""
  />
  <div class="card__content">
    <h2>NFT Preview Card Component</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam,
      tempore!
    </p>
    <Button
      text="Go"
      btnStyles={buttonStyle}
      url="/projects/nft-preview-card"
    />
  </div>
</article>

<article class="card">
  <img class="card__img" src="../../images/walking_outside.svg" alt="" />
  <div class="card__content">
    <h2>Title</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam,
      tempore!
    </p>
    <Button text="Go" btnStyles={buttonStyle} />
  </div>
</article>

<article class="card">
  <img class="card__img" src="../../images/walking_outside.svg" alt="" />
  <div class="card__content">
    <h2>Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab
      officiis corporis tempore ducimus! Deserunt, veritatis ullam. Dolores
      consequatur ut molestias doloremque est quo neque maiores aut hic illo?
      Ipsum?
    </p>
    <Button text="Go" btnStyles={buttonStyle} style={cardStyles} />
  </div>
</article>
