---
import Navigation from "./Navigation.astro";
---

<style>
  .avatar__container {
    /* border: 2px solid hotpink; */
    width: 3rem;
  }

  .primary__header {
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
</style>

<header class="primary__header flex">
  <a class="avatar__container" href="/">
    <img
      class="avatar__img"
      src="jsc-repo.github.io/images/avatar.svg"
      alt="avatar image"
    />
  </a>

  <button
    class="mobile-nav-toggle"
    aria-controls="primary__navigation"
    aria-expanded="false"
  >
    <span class="sr-only">Menu</span>
  </button>

  <nav>
    <Navigation />
  </nav>
</header>

<script>
  import "../scripts/menu";
</script>
