<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    gap: 1rem;
  }
</style>

<header>
  <div class="logo">JAMSTACK</div>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </nav>
</header>
