---
---

<ul
  id="primary__navigation"
  class="primary__navigation flex"
  data-visible="false"
>
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/projects">Projects</a>
  </li>
  <li>
    <a href="/contacts">Contacts</a>
  </li>
</ul>
