---
import Card from "../../components/Card.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<style>
  .content__container {
    gap: 3rem;
  }
</style>

<BaseLayout pageTitle="Projects">
  <section class="articles content__container">
    <h1 class="project__title">Frontend Projects</h1>
    <Card />
  </section>
</BaseLayout>
